</main>
<footer>
  <div class="navbar sticky">
    <div class="container-fluid">
      <p class="copyright"> Jynoe - Made with ❤️ in Philippines.</p>
      <p class="copyright"> Copyright &copy; <%= year %></p>
    </div>
  </div>
</footer>

</body>

</html>