* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Add this CSS to your styles.css file */
.scrollable-content {
    max-height: calc(100vh - 360px); /* Adjust the height as needed */
    overflow-y: auto;
  }
  

/* Style for the navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style for the navbar links on hover */
.menu:hover {
    background-color: #ddd;
    color: black;
    border-radius: 1rem;
}

.site-name {
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* LIST SECTION */

.card-header{
    padding-top: 16px;
}

.list-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -25px;
}

.checkbox {
    margin-right: 10px;
    display: flex;
}

.task-label {
    text-decoration: none;
    margin: 8px;
}

.box {
    margin-right: 12px;
}

.box:checked + .task-label {
    text-decoration: line-through;
}

/* INPUT SECTION */

.add-task form {
    display: flex;
    align-items: center;
}

.add-task .textbox {
    flex: 1;
}

.textbox {
    margin-right: 10px;
    height: 36px;

}

.add-btn {
    display: inline-block;
}

/* FOOTER SECTION */

footer {
    margin-top: auto;
}

.copyright {
    display: inline-block;
    color: #ddd;
    padding: 1rem;
    margin-bottom: -2px;
}
